<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLVT.Properties.Settings.QLVTConnectionString" connectionString="Data Source=DESKTOP-JJGC4CI;Initial Catalog=QLVT;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QLVT.Properties.Settings.QLVTConnectionString1" connectionString="Data Source=DESKTOP-JJGC4CI\SERVER1;Initial Catalog=QLVT;User ID=TT;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QLVTConnectionStringDSNV" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-JJGC4CI\SERVER1;user id=;password=;initial catalog=QLVT;Persist Security Info=true" />
    <add name="QLVTConnectionStringDHCPN" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-JJGC4CI\SERVER1;user id=TT;password=123;initial catalog=QLVT;Persist Security Info=true" />
    <add name="QLVTConnectionStringTHNX" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-JJGC4CI\SERVER1;user id=TT;password=123;initial catalog=QLVT;Persist Security Info=true" />
    <add name="QLVTConnectionStringInDSNV" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-JJGC4CI\SERVER1;user id=TT;password=123;initial catalog=QLVT;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>