<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Data" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Gauges.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Reporting.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Utils" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Win.Grid" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Win.Navigation" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Win.Printing" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Win.TreeList" version="23.1.4" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="23.1.4" targetFramework="net48" />
</packages>